<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Tambah Paket</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"  color="dark">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> Tambah Paket KangCukur </ion-title>
    </ion-toolbar>
  </ion-header>
    <ion-item>
      <ion-label position="floating">Nama</ion-label>
      <ion-input
        required
        [(ngModel)]="nama"
        placeholder="nama"
        type="textfield"
      >
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Layanan</ion-label>
      <ion-input
        required
        [(ngModel)]="layanan"
        placeholder="layanan"
        type="textfield"
      >
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Harga</ion-label>
      <ion-input
        required
        [(ngModel)]="harga"
        placeholder="harga"
        type="textfield"
      >
      </ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button
          type="button"
          (click)="addData()"
          color="primary"
          shape="full"
          expand="block"
          >Tambah Paket
        </ion-button>
      </ion-col>
    </ion-row>
</ion-content>
